body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}
nav{
    background-color: black;
    width: 100%;
    height: auto;
}

nav ul{
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    float: right;
    margin-top: 25px;
    margin-right: 90px;
}
li {
    margin-left: 50px;
    text-align: center;
    display: inline-block;
  }
  nav a img{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    height: 30px; 
}
 
li:hover{
    color: yellow;
  }
.logo{
    margin-left: 130px;

  }
.team {
    margin-top: 100px;
    text-align: center;
    padding: 50px 20px;
}
.team h1{
    font-size: 40;
    margin-bottom: 15px;
}
.team p{
    color: grey;
}
.images{
    margin-left: 30px;
    margin-right: 30px;
}
.images .i {
    margin-left: 30px;
    display: inline-block;
    width: 30%;
    text-align: center;
    border-radius: 50%;
}
.images .i img{
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    border-style: solid;
    border-color: #E5E1DA;
    border-width: 8px ;

}
.images .i h2{
    margin-bottom: 15px;

}
.images .i p{
    width: 400px;
    margin-left: 65px;
    color: gray;
    margin-bottom: 6px;
}

.clear{
    clear: both;
}
.social-links {
    display: flex;
    justify-content: center;
}

.social-links a{
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    margin-left: 6px;
    margin-right: 6px;
    width: 30px;
}
.team-description{
    text-align: center;
    color: gray;
    width: 650px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}